@import '@/uni.scss';

$main-color: #FB544F;
$back-color: #FC7470;
$opacity-text: #FDA2A0;
$normal-text: #FFAAA8;

.container{
  background-color: $main-color;
  width: 100vw;
  height: 100vh;
  padding: 10vh .33rem;
  box-sizing: border-box;
  @include flex(space-between, flex-start, column);

  // 顶部标题
  .header{
    width: 100%;
    
    .headline{
      @include font(.33rem, #FFFFFF, bold);
      @include flex(space-between, flex-start);
      margin-bottom: .1rem;
    }

    .subline{
      @include font(.23rem, #FFFFFF);
    }

    // 描述
    .description{
      margin-top: .30rem;
  
      .des-title{
        @include font(.20rem, #FFFFFF);
        margin-bottom: .05rem;
      }
  
      .des-content{
        @include font(.14rem, #FFFFFF);
      }
    }
  }

  // 表单主体
  .main{
    width: 100%;

    .gap-bottom{
      margin-bottom: .20rem;
    }

    .suffix{
      margin-top: .15rem;
      @include font(.16rem, #FFFFFF, $align: right);
    }

    .code-image{
      width: 1.3rem;
      height: .52rem;
      background-color: #eee;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  // 提交部分
  .submit{
    width: 100%;

    .register-button{
      @include font(.16rem, $opacity-text, $align: center);

      text{
        @include font(.16rem, #FFFFFF, bold);
      }
    }
  }

  // 底部其他登录方式按钮
  .footer{
    width: 100%;
    padding: .35rem .50rem 0 .50rem;
    box-sizing: border-box;
    border-top: solid 1px $normal-text;
    @include flex(space-evenly, center);

    .other-login{
      width: .44rem;
      height: .44rem;
      background-color: $back-color;
      border-radius: 50%;
      @include flex;

      image{
        width: .24rem;
        height: .24rem;
      }

      .qq-icon{
        width: .20rem;
        height: .20rem;
      }
    }
  }
}